<div id="mobile-nav" class="mobile-nav hide-for-large">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <ul class="vertical menu"> 
    <li>
      <form id="mobile-login" class="login-form">
        <div class="grid-x">         
          <div class="small-12 columns">
              <button type="submit" class="button expanded" onclick="validateClient();return true;">Login</button>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>
