<div class="top-bar-container">
  <header class="global-header">
    <div class="top-bar popup">
      <div class="top-bar-left">
        <a href="/" class="nav-title show-for-medium"><img src="/assets/img/logo-sps.svg" alt="SPS"></a>
        <a href="/" class="nav-title hide-for-medium"><img src="/assets/img/SPS-symbol.svg" alt="SPS"></a>
      </div>
      <div class="top-bar-right">
        <button class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
       </button>
      </div>
    </div>
  </header>
</div>