<div class="off-canvas position-right" id="about-pane" data-off-canvas data-transition="overlap">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" width="467.06" height="467.07" fill="currentColor" class="bi icon"viewBox="0 0 467.06 467.07">
        <path d="M10.44,407.13,184,233.53,10.44,59.93A35,35,0,1,1,60,10.47L233.5,184.07,407.1,10.47a35,35,0,1,1,49.53,49.46L283,233.53l173.6,173.6A35,35,0,1,1,407,456.6L233.5,283,59.9,456.6a35,35,0,0,1-49.52-49.47Z"/>
      </svg>
    </span>
  </button>
  <h2 class="offcanvas-heading">About</h2>
  <div class="responsive-embed widescreen">
    <div class="ls-photo">

    </div>
  </div>
  <div class="about-wrapper">
    <div class="grid-x grid-padding-x align-center">
      
      <div class="cell large-9">      
      <h2 class="h3">
        Hi, I'm Lyudmil Shoshorov
        </h2>
       <p>I have more than a decade experience in user-centered websites and apps, never losing sight of the client's business requirements. </p>
      <p>I'd describe myself as a multidisciplinary digital designer always interested in learning new creative disciplines.</p>       
      <p>I mainly focus on web projects, but also enjoy doing logo and brand identity design. </p>
      
      <p><a href="https://www.linkedin.com/in/lyudmil-shoshorov-76480a6b/" class="text-uppercase font-bold" target="_blank">Linkedin</a> &nbsp;&nbsp;&nbsp;   
        <a href="mailto:shoshoroff@gmail.com" class="text-uppercase font-bold">Email</a>
      </p>
      </div>
    </div>
    
  </div>
</div>