---
layout: default
---

  <div class="hero-wrapper">
    <div class="hero-section section">
      <div id="hero-text" class="hero-text-container">
        <div class="grid-container">
          <div class="grid-x">
            <div class="large-12 cell">
              <h1>Hello, I'm a digital designer based in Sofia, Bulgaria. I turn ideas into experiences that create impact.</h1>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <div class="hero-section inverted section">
      <div id="hero-text-inv" class="hero-text-container" aria-hidden="true">
        <div class="grid-container">
          <div class="grid-x">
            <div class="large-12 cell">
              <h1>Hello, I'm a digital designer based in Sofia, Bulgaria. I turn ideas into experiences that create impact.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div id="projects" class="section work">
    <div class="grid-container">
      <h2 class="section-heading">Recent Projects</h2>
    </div>
    
    <div class="projects-list">

      {% include projects-list.html %}

      
    </div>
    <div class="grid-x align-center padding-vertical-3">
      <div class="cell shrink">
        <a href="mailto:shoshoroff@gmail.com" class="button hollow large contact-cta">Get In Touch</a>  
      </div>
    </div>
  </div>
 